@import url(https://fonts.googleapis.com/css?family=Material+Icons);
.video-js .vjs-chapter-nav-button {
  font-family: 'Material Icons';
  cursor: pointer;
  width: 2em;
}
.video-js .vjs-chapter-nav-button.jump-prev::before {
  content: '\e045';
}
.video-js .vjs-chapter-nav-button.jump-next::before {
  content: '\e044';
}
