@import url(https://fonts.googleapis.com/css?family=Material+Icons);
.video-js .vjs-chapter-nav-button {
  font-family: 'Material Icons';
  cursor: pointer;
  width: 2em;
}
.video-js .vjs-chapter-nav-button.jump-prev::before {
  content: '\e045';
}
.video-js .vjs-chapter-nav-button.jump-next::before {
  content: '\e044';
}

/* The switch - the box around the mytoggle */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
  margin-bottom: 0;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The mytoggle */
.mytoggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.mytoggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .mytoggle {
  background-color: #2196F3;
}

input:focus + .mytoggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .mytoggle:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

/* Rounded mytoggles */
.mytoggle.round {
  border-radius: 34px;
}

.mytoggle.round:before {
  border-radius: 50%;
}

/* Get text in button */
/*------ ADDED CSS ---------*/
.mytoggle:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
}

input:checked + .mytoggle:after
{
  content:'ON';
}